<!--  Breadcrumb nav
   Adapted from ntk148v/shibui (MIT License)
   https://github.com/ntk148v/shibui
-->


<nav aria-label="Breadcrumb">
  <ol class="path-nav__list">
     {{ template "pathnav" (dict "cursor" . "currentPage" .) }}
    {{ if .IsHome }}
      {{ range .Site.Menus.main }}
        {{ if ne .Name "Home" }}
          <li aria-current="page">
            <a  href="{{ .URL }}">{{ .Name }}</a>
          </li>
        {{ end }}
      {{ end }}
    {{ end }}
  </ol>
</nav>

{{ define "pathnav" }}
  {{ if .cursor.Parent }}
    {{ template "pathnav" (dict "cursor" .cursor.Parent "currentPage" .currentPage) }}
  {{ else if not .cursor.IsHome }}
    {{ template "pathnav" (dict "cursor" .cursor.Site.Home "currentPage" .currentPage) }}
  {{ end }}

  <li class="path-nav__item{{ if eq .cursor .currentPage }} path-nav__item--current{{ end }}"
    {{ if eq .cursor .currentPage }}aria-current="page"{{ end }}>
    {{ if .currentPage.IsHome }}<span>/</span>{{ end }}
    <a href="{{ .cursor.RelPermalink }}">
      {{ if .cursor.IsHome }}{{ .cursor.Site.Title }}{{ else }}{{ .cursor.Title }}{{ end }}
    </a>
    {{ if ne .cursor .currentPage }}<span>/</span>{{ end }}
  </li>
{{ end }}
