{{ define "main" }}
<article class="single">
  <header>
    <h1
      style="
        font-size: calc(var(--font-size-base) + 1rem);
        text-transform: uppercase;
        margin: 0 0 var(--spacing-xs) 0;
      "
    >
      {{ .Title }}
    </h1>


    {{ if .Params.meta }}
      {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := .Date | time.Format ":date_long" }}
      <section class="single__meta">
        <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time> /
        {{ $lastModMachine := .Lastmod | time.Format "2006-01-02T15:04:05-07:00" }}
        {{ if and (isset .Params "lastmod") (ne $lastModMachine $dateMachine) }}
          {{ $lastModHuman := .Lastmod | time.Format ":date_long" }}
          <span>
            Updated: <time datetime="{{ $lastModMachine }}">{{ $lastModHuman }}</time>
          </span>
        {{ end }}
        {{ $showReadingTime := .Params.showreadingtime | default site.Params.showreadingtime | default true }}
        {{ if $showReadingTime }}
          <span>{{ printf "%d min read" .ReadingTime }}</span>
        {{ end }}
      </section>
    {{ end }}
    {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
  </header>


  {{ if .Params.toc }}
    <section class="toc">
      <p>Table of Contents</p>
      {{ .TableOfContents }}
    </section>
  {{ end }}
  <section>{{ .Content }}</section>


</article>
{{ end }}
